body {
  margin: 0;
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px; /* расстояние между пунктами */
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-button {
  background: black;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.header-top__inner_left_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 566px;
  padding: 77px 60px;
  background-color: #ece7e4;
}

.header-top__inner_right_img {
  display: flex;
  margin: 0 auto;
}

.header-top__logo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header_title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  color: #1b1a1a;
  margin-bottom: 18px;
}

.header-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #403E3B;
  margin-bottom: 30px;
}

.read-more_box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 133px;
  height: 46px;
}

.read-more_text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.about {
  padding: 100px 0;
}

.about__inner {
  display: flex;
  gap: 60px;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}

.about__title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #403E3B;
  margin: 0;
  flex-shrink: 0;
}

.about__content {
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.about__text {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.author {
  display: flex;
  align-items: center;
  gap: 31px;
  margin-top: 32px;
}

.author__photo {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.author__info {
  display: flex;
  flex-direction: column;
}

.author__name{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1B1A1A;
}

.author__role {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #6F7375;
  margin-top: 4px;
}

.project {
  width: 100%;
  height: 600px;
  background-image: url('assets/images/neznayu_kaknazvat_bolshayakartinka.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project__info {
  max-width: 300px;
  padding: 40px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project__category {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403E3B;
}

.project__description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #645C55;
}

.our_process {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 381px;
  margin: 100px auto;
}

.our_process__inner-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  height: 82px;
  margin: 0 auto;
  gap: 13px;
}

.our_process__inner-title-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.our_process__inner-title-content {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
}

.our-process__steps {
  display: flex;
  max-width: 1168px;
  width: 100%;
  margin: 40px auto 0;
}

.step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 30px;
}

.step__icon {
  margin-bottom: 15px;
}

.step__title {
  margin-bottom: 10px;
}

.step__description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.project {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.project--marble {
  background-image: url("assets/images/stairs.jpg");
  justify-content: flex-end;
}

.project__info {
  width: 300px;
  margin-right: 60px;
}

.project__name {
  font-family: Poppins sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403E3B;
}

.project__description {
  font-family: Poppins sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #645C55;
}

.clients {
  background-color: #403E3B;
  padding: 60px 0;
  margin: 0 auto;
}

.clients__inner {
  display: flex;
  max-width: 1168px;
  height: 290px;
  margin: 0 auto;
  align-items: center;
  gap: 132px;
}

.clients__info {
max-width: 460px;
}

.clients__overline {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ECE7E4;
}

.clients__title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.clients__description {
  font-family: Poppins sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #ECE7E4;
}

.clients__logos {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 100px;
  max-width: 432px;
}

.clients__logo {
  max-width: 160px;
  max-height: 80px;
}

.project--swirling {
  background-image: url('assets/images/bolshaya_krasivaya_kartinka.jpg');
  justify-content: flex-start;
}

.featured_projects {
  background-color: #F7F7F7;
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 120px 100px;
}

.featured_projects__inner {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.featured_projects-header {
  margin-left: 16px;
  margin-bottom: 40px;
  max-width: 600px;
}
.featured-projects__title {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
  color: #1B1A1A;
  margin-bottom: 15px;
}

.featured-projects__description {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #645C55;
  max-width: 581px;
}

.featured_projects-list {
  display: flex;
  max-width: 1168px;
  justify-content: space-between;
  margin: 0 auto 40px 16px;
  gap: 18px;
}

.view_all_project {
  max-width: 180px;
  margin: 0 auto;
}

.view_all_project_text {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #1B1A1A;
  text-decoration: none
}

.our_team {
  display: flex;
  max-width: 1168px;
  max-height: 392px;
  margin: 100px auto;
}

.our_team_inner_left {
  max-width: 379px;
}

.our_team_header_text {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #403E3B;
  margin-bottom: 14px;
}

.our_team_description-text {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #645C55;
  margin-bottom: 30px;
}

.see_team {
  max-width: 121px;
  padding: 11px 20px;
}

.see_team_text {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1B1A1A;
}

.our_team_inner_right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 36px 80px;
  max-width: 774px;
}

.team-member {
  max-width: 100%;
}

.get_in_touch {
  display: flex;
  max-width: 1440px;
  padding: 100px 136px;
  margin: 0 auto;
  background-color: #CEC4BC;
}

.get_in_touch__inner {
  display: flex;
  max-width: 1168px;
  margin: 0;
  gap: 447px;
}

.get_in_touch__inner_left {
 max-width: 576px;
}

.get_in_touch__inner_left-title {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645C55
}

.get_in_touch__inner_left-description {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  color: #1B1A1A;
}

.get_in_touch__inner_right {
  display: flex;
  max-width: 145px;
  align-items: center;
}

.get_in_touch__inner_right-text {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.technologies {
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding: 60px 136px;
  margin: 0 auto;
  box-sizing: border-box
}

.technologies__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1168px;
  width: 100%;
}
.technologies__inner-left-des {
  max-width: 375px;
  width: 100%;
}

.technologies__inner-left-des-text {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.logo_footer {
  margin-bottom: 20px;
}

.social_media {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}













